# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# production settings
appsettings.Production.json

# env files
.env
.env*.local

# credentials
docs/changelog/seed-credentials.md

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.nuget.props
*.nuget.targets

# VS
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# opencode
.opencode/
